---
import "../../styles/globals.css";
import Layout from "../../layouts/Layout.astro";
import Card from "../../components/Card.astro";
import Nav from "../../components/Nav.astro";
import FeaturedProjects from "../../components/FeaturedProjects.jsx";
import Clients from "../../components/Clients.astro";
import WebsiteIntegration from "../../components/WebsiteIntegration.astro";
import OfflineApp from "../../components/OfflineApp.astro";
import Lightbox from "../../components/Lightbox.jsx";
import AutoplaySlider from "../../components/AutoplaySlider.astro";
import Gallery from "../../components/Gallery.astro";
import Footer from "../../components/Footer.astro";
import VRHeader from "../../components/VRHeader.jsx";
import { services } from "../../store/data";
import ViewGallery from "../../components/ViewGallery.astro";

import _ from "lodash";

console.log(
  _.map(services, (n) => {
    return { params: { detail: n.title } };
  })
);

export function getStaticPaths() {
  let params = _.map(services, (n) => {
    return { params: { slug: n.slug } };
  });
  return params;
}

const { slug } = Astro.params;
const selectedService = _.find(services, { slug });
console.log(selectedService);
---

<Layout title="Welcome to ">
  <Nav fullscreen={true} isHeader={true} height="[400px]" dark={true}>
    <VRHeader tourLink="/header/sub/index.html" />
    <h1
      class="title absolute text-white font-bold text-center pointer-events-none text-5xl pt-12"
    >
      {selectedService.title}
    </h1>
  </Nav>
  <main class="grow bg-purple/10">
    <div>
      <div class="font-inter pb-20">
        <div class="max-w-[1400px] mx-auto px-[5vw] font-inter items-center">
          <div class="pt-20 font-text text-lg flex flex-col gap-5">
            {
              selectedService.detail && (
                <Fragment set:html={selectedService.detail} />
              )
            }
          </div>
          {
            selectedService.items.map((item) => (
              <>
                <div
                  id={item.title}
                  class="grid md:flex even:flex-row-reverse  gap-10 pt-20"
                >
                  <div class="basis-1/2">
                    {item.faceType === "image" && (
                      <div>
                        {item.gallery ? (
                          <ViewGallery
                            title={item.gallery.title}
                            images={item.gallery.images}
                            thumb={item.gallery.thumb}
                          />
                        ) : (
                          <div class="w-full  aspect-[3/2] rounded-md  animated overflow-hidden">
                            <img
                              class="h-full w-full  object-cover"
                              class=""
                              src={item.face}
                            />
                          </div>
                        )}
                      </div>
                    )}
                    {item.faceType === "video" && (
                      <div class="w-full   rounded-md bg-purple animated overflow-hidden">
                        <iframe
                          class="w-full aspect-video animated"
                          src={item.face}
                          title="YouTube video player"
                          frameborder="0"
                          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                          allowfullscreen
                        />
                      </div>
                    )}
                  </div>
                  <div class="basis-1/2">
                    <h2 class=" text-4xl md:text-5xl font-extrabold mb-10 text-center md:text-left">
                      {item.title}
                    </h2>

                    <div class="font-text text-lg  grid gap-5 text-md  leading-relaxed text-center md:text-left">
                      <Fragment set:html={item.detail} />
                    </div>
                  </div>
                </div>
              </>
            ))
          }
        </div>
      </div>
    </div>
  </main>

  <Footer />
</Layout>
