---
import "../styles/globals.css";
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Nav from "../components/Nav.astro";
import FeaturedProjects from "../components/FeaturedProjects.jsx";
import Clients from "../components/Clients.astro";
import WebsiteIntegration from "../components/WebsiteIntegration.astro";
import OfflineApp from "../components/OfflineApp.astro";
import Lightbox from "../components/Lightbox.jsx";
import AutoplaySlider from "../components/AutoplaySlider.astro";
import Footer from "../components/Footer.astro";
import MoreProjects from "../components/MoreProjects.jsx";
import Testimonial from "../components/Testimonial.astro";

import _ from "lodash";
import { projects, testimonials } from "../store/data";
import VRHeader from "../components/VRHeader";
const resortProjects = _.filter(projects, { cat: "resort" });
const villaProjects = _.filter(projects, { cat: "villa" });
const venueProjects = _.filter(projects, { cat: "venue" });
const yachtProjects = _.filter(projects, { cat: "yacht" });
const parkProjects = _.filter(projects, { cat: "park" });
---

<Layout title="Welcome to ">
  <Nav fullscreen={true} isHeader={true} height="h-[600px]" dark={true}>
    <VRHeader tourLink="/header/client-tour/index.html" />
    <h1
      class="flex gap-2 justify-center items-center title absolute bottom-0 p-5 w-screen mx-auto text-center bg-purple/80 backdrop-blur-md text-white text-md"
    >
      <span
        ><svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-6 h-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="m11.25 11.25.041-.02a.75.75 0 0 1 1.063.852l-.708 2.836a.75.75 0 0 0 1.063.853l.041-.021M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9-3.75h.008v.008H12V8.25Z"
          ></path>
        </svg>
      </span>
      Click the logos to see how our valued clients are using our visuals on their
      web pages.
    </h1>
    <div>
      <h1></h1>
    </div>
  </Nav>
  <main class="grow bg-purple/10">
    <h2 class="font-heading text-5xl font-black text-purple text-center mt-10">
      Resorts
    </h2>
    <MoreProjects projectData={resortProjects} client:load />
    <h2 class="font-heading text-5xl font-black text-purple text-center mt-10">
      Villas & Property
    </h2>
    <MoreProjects projectData={villaProjects} client:load />

    <h2 class="font-heading text-5xl font-black text-purple text-center mt-10">
      Venues & Restaurants
    </h2>
    <MoreProjects projectData={venueProjects} client:load />
    <h2 class="font-heading text-5xl font-black text-purple text-center mt-10">
      Yachts & Marinas
    </h2>
    <MoreProjects projectData={yachtProjects} client:load />
    <h2 class="font-heading text-5xl font-black text-purple text-center mt-10">
      Parks & Councils
    </h2>
    <MoreProjects projectData={parkProjects} client:load />
  </main>

  <div x-data="{ slide: 1, maxSlides: 3 }">
    <div class="max-w-[1400px] px-[5vw] mx-auto pt-20 pb-5">
      <h2 class="font-heading font-black text-5xl text-center">
        Testimonial Tales
      </h2>
      <p class="font-text text-lg tracking-wide text-center pt-2">
        Stories of Delight and Satisfaction
      </p>
    </div>

    <h1></h1>
    <p></p>
    <div class="mx-auto flex gap-5 justify-center">
      <div
        @click="slide<=1 ?slide:slide--"
        :class="[{'bg-gray-200':slide ===1}]"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-10 h-10"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="m11.25 9-3 3m0 0 3 3m-3-3h7.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
          ></path>
        </svg>
      </div>
      <div @click=`slide>=${testimonials.length} ?slide:slide++`>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-10 h-10 rotate-180"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="m11.25 9-3 3m0 0 3 3m-3-3h7.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
          ></path>
        </svg>
      </div>
    </div>
    <div class="pb-20">
      {
        testimonials.map((data) => (
          <div x-show=`slide === ${data.id}` x-transition>
            <Testimonial>
              <p class="text-right pt-5 font-bold" slot="author">
                {data.user}
              
               
              </p>
              <p
                class="font-text text-lg tracking-wide relative"
                slot="content"
              >
                {data.review}
              </p>
            </Testimonial>
          </div>
        ))
      }

  
    </div>
  </div>

  <div></div>

  <Footer />
  <Lightbox
    iframeURL="https://eyenavthailand.com/samujana/villa12/"
    client:load
  />
</Layout>
