---
import "../../styles/globals.css";
import Layout from "../../layouts/Layout.astro";
import Card from "../../components/Card.astro";
import Nav from "../../components/Nav.astro";
import FeaturedProjects from "../../components/FeaturedProjects.jsx";
import Clients from "../../components/Clients.astro";
import WebsiteIntegration from "../../components/WebsiteIntegration.astro";
import OfflineApp from "../../components/OfflineApp.astro";
import Lightbox from "../../components/Lightbox.jsx";
import AutoplaySlider from "../../components/AutoplaySlider.astro";
import Footer from "../../components/Footer.astro";
import MoreProjects from "../../components/MoreProjects.jsx";
import VRHeader from "../../components/VRHeader.jsx";
import _ from "lodash";
import { projects } from "../../store/data";
const moreProjects = _.filter(projects, { type: "more" });

const catprojects = _.filter(projects, (o) => o.cat);
const cats = _.map(catprojects, (data) => data.cat);
const catz = _.uniq(cats);
const sortCat = _.map(catz, (o) => _.filter(projects, { cat: o }));

export function getStaticPaths() {
  const catprojects = _.filter(projects, (o) => o.cat);
  let cats = _.map(catprojects, (data) => data.cat);
  const catz = _.uniq(cats);
  let params = _.map(catz, (o) => {
    return { params: { slug: o } };
  });
  return params;
}

const { slug } = Astro.params;

const selectedProjects = _.filter(catprojects, { cat: slug });
console.log(selectedProjects);
---

<Layout title="Welcome to ">
  <Nav fullscreen={true} isHeader={true} height="[400px]" dark={true}>
    <VRHeader tourLink="/header/sub/index.html" />
    <h1 class="title absolute text-white font-bold text-5xl pt-12">
      {selectedProjects[0].grpName}
    </h1>
  </Nav>

  <main class="grow bg-purple/10">
    <MoreProjects projectData={selectedProjects} client:load showall={true} />
  </main>
  <Footer />
  <Lightbox
    iframeURL="https://eyenavthailand.com/samujana/villa12/"
    client:load
  />
</Layout>
